.datepickerwrapper {
  text-align: start;
}

.datepicker {
 margin-bottom: 20px;
}

.dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.date {
  color: #329cff;
  cursor: pointer;
}

.datedelete{
  padding: 0px 1px;
  color:#aaa
}