@import '~antd/dist/antd.css';

.logo {
  height: 64px;
  background:#1890ff;
  color: #fff;
  font-size:18px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}
.siteLayout .siteLayoutBackground {
  background: #fff;
}
[data-theme="dark"] .siteLayout .siteLayoutBackground {
  background: #141414;
}
.siteLayoutHeader {
  background: #329cff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 64px;
}

